body {
  width: 100%;
  border: 1px solid lightgray;
  font-size: 3em;
  vertical-align: middle;
}

h1 {
  text-align: center;
  width: 100%;
  vertical-align: top;
  color: rgb(197, 11, 11);
}

.container {
  width: 40%;
  border: 1px solid lightgray;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%) 
}

#new-degree {
  width: 100%;
  border: 1px solid lightgray;
  text-align: center;
}

#degree-input {
  height: 2em;
  padding: 1em;
  margin: 1em;
}

#submit-degree {
  font-size: 2em;
  background-color red;
}
